  <div class="post-preview">
    <a href="/post/{{id}}">
        <h2 class="post-title">{{title}}</h2>
    </a>
    <p class="post-meta">
        Posted by
        <a href="#!">{{user.username}}</a>
        on {{format_date date_created}} | {{comments.length}} comment(s)
    </p>
</div>
<!-- Divider-->
<hr class="my-4">